Node-red2.json
[{"id":"77cfa764.af5fe8","type":"telegram sender","z":"7474337d.6ba07c","name":"","bot":"f5f49458.b8a548","haserroroutput":false,"outputs":1,"x":570,"y":440,"wires":[[]]},{"id":"97cbde54.516ff","type":"telegram command","z":"7474337d.6ba07c","name":"","command":"/start","bot":"f5f49458.b8a548","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":440,"wires":[["f02799c8.f240b8"],[]]},{"id":"f02799c8.f240b8","type":"function","z":"7474337d.6ba07c","name":"","func":"var helpMessage = \"Hello new user\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":440,"wires":[["77cfa764.af5fe8"]]},{"id":"be7de67f.af5ef8","type":"inject","z":"7474337d.6ba07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test","payloadType":"str","x":180,"y":260,"wires":[["1bd562ee.08730d"]]},{"id":"1bd562ee.08730d","type":"debug","z":"7474337d.6ba07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":280,"wires":[]},{"id":"f5f49458.b8a548","type":"telegram bot","botname":"qwerty654_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]